<h1>Регистрация</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :first_name, 'Имя'%><br />
    <%= f.text_field :first_name %>
  </div>
  <div>
    <%= f.label :last_name, "Фамилия" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div>
    <%= f.label :password, 'Пароль' %><br />
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :password_confirmation, 'Подтверждение пароля' %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div><%= f.submit "Зарегистрироваться" %></div>
<% end %>
