<%= form_for @petition do |f| %>
  <% if @petition.errors.any? %>
    <div class="error_explanation">
      <h2>Form is invalid</h2>
      <ul>
        <% @petition.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, 'Название' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <%= f.label :body, 'Описание' %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <% if @petition.new_record? %>
      <%= submit_tag 'Cоздать', class: "btn btn-primary" %>
    <% else %>
      <%= submit_tag 'Изменить', class: "btn btn-warning" %>
    <% end %>
  </div>
<% end %>
