<h2>Мои петиции</h2>

<table class="table">
  <thead>
  <tr>
    <th>Петиция</th>
    <th>Голоса</th>
    <th>Дата создания</th>
    <th colspan="2"><center>Действия</center></th>
  </tr>
  </thead>

  <% @petitions.each do |petition| %>
    <tr>
      <td><%= link_to petition.title, petition_path(petition) %></td>
      <td><center><%= petition.votes.count %></center></td>
      <td><%= petition.created_at.strftime('%d/%m/%Y %H:%M') %></td>
      <td><%= link_to 'Изменить', edit_petition_path(petition) %></td>
      <td><%= link_to 'Удалить', petition, method: :delete %></td>
    </tr>
  <% end %>
</table>
